body {
  background-color:rgba(253,255,255,0.6); /* 追加 */
  background-blend-mode:lighten; /* 追加 */
  background-size:cover; /* 追加 */
  color: #FE4261;
  font-size: 24px; /* 追加 */
  padding-left: 36px; /* 追加 */
}

h1 {
  font-size: 36px; /* 修正 */
  text-align: center;
}

h2 {
  font-size: 28px; /* 修正 */
  color: #000000;
  border-bottom: solid 1px #cc0000;
}

h3 {
  font-size: 24px; /* 修正 */
  padding-left: 4px;
  border-left: solid 4px #cc0000;
}

#schedule {
  padding: 10px 20px 10px 20px;
  background-color: #9933ff;
}

.iniad {
  color: #00cc00;
}

.time {
  font-weight: bold;
  color: #cc0000;
  font-size: 30px;
}

p {
  max-width: 800px; /* 任意の最大幅を指定 *//* 追加 */
  margin: 0 auto; /* 中央寄せ *//* 追加 */
}
