/* index3.css */

/* タイトルの文字装飾 */
h1 {
    font-family: 'BIZ UDPGothic';
    color: #003366;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 5em;
    font-weight: bold; /* 太くする */
    opacity: 0;
    animation: scaleAndFadeIn 1.5s ease-in-out forwards;
  }
  
h1 {
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #E6FFE9;
  }
  
h1:before {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 4px solid #000;
  }

/* 画像のフェードインアニメーション */
img {
  max-width: 100%;
  animation: fadeUp 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
}


/* scaleAndFadeInアニメーション */
@keyframes scaleAndFadeIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.trial {
  position: relative;
  }

.trial a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 70%;
  left: 72%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border: solid gray 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: gray;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.trial a:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }

.trial img {
  width: 100%;
  }

trial {
    position: relative;
    }
  
.trial p {
  font-family: 'BIZ UDPGothic';
  color:whitesmoke;
  font-size: 3em;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: rotate(-15deg);
  margin:0;
  padding:0;
  }
  
h2 {
  font-family: 'BIZ UDPGothic';
  font-size: 3em;
  color: #003366;
  }

h2:first-letter {
  font-size: 130%;
  color: #eb6100;
  }

h2 {
  position: relative;
  padding: 1rem .5rem;
  }

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }

/* フッターのロゴのスタイル */
footer img {
  display: block;
  margin: 0 auto;
  }
