
/* タイトルの文字装飾 */

h1 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 100px 180px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 5em;
    font-weight: bold; 
    line-height: 1.5;
    animation: slideIn 1s ease-out;
}

h2.lead {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 300px 90px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 2.8em;
    font-weight: 200; 
    line-height: 1.5;  
}

h2.example { 
    font-family: 'Arial', sans-serif; 
    color: #ffffff; 
    text-align: center; 
    margin: 550px 130px; 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); 
    font-size: 4em; 
    font-weight: 200;  
    line-height: 1.5;
    position: absolute; 
    } 

.contents {
    background-color: #3c3c3c;
    overflow:hidden;
    vertical-align:bottom;
    line-height:0;
　　}

.container img{
      height: auto;
      margin: 0 auto;
      padding: 0;
      display: block;
  }

h1,h2 {
    position: absolute; 
}

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
